.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 230, 236);
  height: 100vh;
  width: 100%;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: #fff;
  height: 50vh;
  width: calc(100% - 50%);
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-heading{
    text-align: center;
}
.drop-down-wrapper,
.company-wrapper {
  height: 40px;
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 30% 68%;
}
.drop-down-label,
.company-name {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
}
.company-name {
  min-width: 30%;
}
.select-wrapper,
.input-field {
  height: 38px;
}
.error-msg {
  color: red;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: end;
  padding: 10px 0px
}

.submit-btn {
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: calc(100% - 70%);
  margin: 0 auto;
}
.submit-btn:disabled {
  cursor: default;
}

.submit-btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
